.card {
    // border: 1px solid var(--text-color);
    // border-radius: 5px;

    .card-media-top {
        overflow: hidden;
        height: max-content;
        // max-height: 300px;

        img {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
            // padding: 5px;
        }
    }
    
}

.text-uppercase {
    text-transform: uppercase !important;
}

.padded-body {
    padding: 30px;
}