.title {
	font-size: 40px;
	margin-top: 0;
}

.subtitle {
	font-size: 24px;
}

.dateDivider {
    font-weight: 400;
}

.date {
	font-size: 16px;
    margin: 15px 0;
    font-weight: 300;
}

.cover-img {
	margin: 30px 0;
}

.markdown {
	// img {
	// 	object-fit: cover;
	// 	object-position: 50% 50%;
	// 	width: 100%;
	// 	max-height: 400px;
	// }
}
