.grid {
    display: grid;
    grid-gap: 60px;
    // grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-columns: repeat(2, 1fr);

    :first-child {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 639px) {
    .grid {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 30px;
    }
}